/* page structure */
html { 
  height: 100%;
  width: 100%;
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

body {
  font-family: 'Droid Sans', sans-serif;
  background-color: transparent;
}

#wrapper {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* links */
#links {
  width: 375px;
  border-top: 0;
  color: #d9d9d9;
  padding: 10px 0;
  margin: 32px auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 5px 10px;
  line-height: 32px;
  display: inline;
}

a {
  text-decoration: none;
  color: #d9d9d9;
}

a:hover,
a:focus {
  color: #fff;
}


/* footer */
#email {
  margin: 10px 0 0;
}

#keys {
  margin: 50px 0 0;
  color: #8c8c8c;
  font-size: 0.90em;
}

#keys a {
  text-decoration: none;
  color: #8c8c8c;
}

#keys a:hover,
#keys a:focus {
  color: #d9d9d9;
}
